.clients{
	margin:8em 0 2em 0;
	&__bg{
		background-image: url(/img/clients_bg.png);
		background-repeat: no-repeat;
		background-position: top right;

	}
}

.clients__title{
	  display: flex;
		font-size: 64px;
		color: $dark;
	 	font-family: "Point-Bold", sans-serif;
		font-style: normal;
		font-weight: bold;
		letter-spacing: -0.01em;
		padding-top: .54em;
		margin-bottom: 0;
}
.clients__desc{
	max-width: 680px;
	width: 100%;
	opacity: .8;
	margin-bottom: 60px;
}


.partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  grid-gap: 16px;
	padding: 0;
}

.partners__item {
    background: #ffffff;
		list-style-type: none;
}

.partners__item img {
    display: block;
		margin: 0 auto;
		object-fit: contain;
    max-width: 100%;
    width: 224px;
    height: 96px;
}

.partners__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}




@media only screen and (max-width: 599px){
	.partners {
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

	}
}
@media only screen and (max-width: 1022px){
	.clients{
		margin: 0;
	}
	.clients__title{
		margin: 1.6em 0 .4em 0;
		text-align: left;
		line-height: 1.4;
	}
	.clients__bg{
		background-image: none;
	}
	.clients__desc{
		margin-bottom: 24px;
	}
	.partners {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 24px;
		align-items: center;
	}
}
