@font-face {
	font-family: 'Point-Black';
	src: url('../fonts/Point-Black.woff2') format('woff2'),
		url('../fonts/Point-Black.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'Point-Bold';
	src: url('../fonts/Point-Bold.woff2') format('woff2'),
		url('../fonts/Point-Bold.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'Point-Regular';
	src: url('../fonts/Point-Regular.woff2') format('woff2'),
		url('../fonts/Point-Regular.woff') format('woff');
	font-display: swap;
}


@font-face {
	font-family: 'Point-Book';
	src: url('../fonts/Point-Book.woff2') format('woff2'),
		url('../fonts/Point-Book.woff') format('woff');
	font-display: swap;
}