.slider{
	position: relative;

}
.lng-slider__title{
		font-size: 64px;
		color: $dark;
	 	font-family: "Point-Bold", sans-serif;
		font-style: normal;
		font-weight: bold;
		letter-spacing: -0.01em;
		margin:2.4em 0 0 1.84em;
}
.slider__bg{
	position:absolute;
	width: 338.28px;
	height: 297.47px;
	z-index: -2;
	left:-0.4em;
	top: -6.3em;
	background-repeat: no-repeat;
	background: url(../img/slider_bg.jpg);
	transform: rotate(-15deg);
}
.slider-container{
	overflow: hidden;
	width: 100%;
	margin:14px 0 0 0;
}

.slider__item{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	padding: 40px 60px;
	border: 2px solid $dark;
	border-image-slice: 2;
  border-width: 2px;
	border-image-source: linear-gradient(90deg, #3AA1FF 0%, #00F8FF 100%);
	background-color: #fff;
	height: auto;
	width: auto;
}

.swiper-slide-active{
	border-image-slice: 2;
  border-width: 2px;
	border-image-source: linear-gradient(90deg, #3AA1FF 0%, #00F8FF 100%);
}

.slider__item{

	h3{
		font-size: 36px;
		line-height: 1.16;
		color: $dark;
	 	font-family: "Point-Bold", sans-serif;
		letter-spacing: -0.01em;
		margin-bottom: .46em;
	}
	p{
		font-family: Verdana, Geneva, sans-serif;
		font-size: 20px;
		line-height: 1.3;
		color: $dark;
		margin-bottom: .8em;
	}
}
.slider__text{
	margin-bottom: 30px;
}

.slider-prev, .slider-next{
	display: none;
}

@media only screen and (max-width: 599px){
	.lng-slider__title, .skills__title, .advantage__title, .clients__title, .reviews__title, .team__title{
		font-size: 28px;
		font-weight: bold;
		letter-spacing: -0.01em;
		margin:2.6em 0 .4em 0;

	}
	.slider__bg{
	  width: 338.28px;
	  height: 297.47px;
		z-index: -2;
		left:110px;
		top: -60px;
	}
	.slider__item{
		padding: 40px;
		border: 2px solid $dark;
		border-image-slice: 2;
		border-width: 2px;
		border-image-source: linear-gradient(90deg, #3AA1FF 0%, #00F8FF 100%);
		background-color: #fff;
		height: auto;
		width: auto;
		h3{
			font-size: 24px;
			line-height: 1.16;
			color: $dark;
			font-family: "Point-Bold", sans-serif;
			letter-spacing: -0.01em;
			margin-bottom: .46em;
		}
		p{
			font-family: Verdana, Geneva, sans-serif;
			font-size: 15px;
			line-height: 1.6;
			color: $dark;
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 1199px){
	.lng-slider__title, .skills__title, .advantage__title, .clients__title, .reviews__title,.team__title{
		font-size: 36px;
		font-weight: bold;
		letter-spacing: -0.01em;
		margin:2.6em 0 .4em 0;
	}
	.slider__bg{
	  width: 338.28px;
	  height: 297.47px;
		z-index: -2;
		left:60px;
		top: -60px;
	}
	.slider-prev, .slider-next{
		display: block;
	}
}



