$dark: #111111;
$orange: linear-gradient(90deg, #FF8786 0%, #FACE8A 100%);
$blueGradient:linear-gradient(90deg, #3AA1FF 0%, #00F8FF 100%);
$orange2: #FF8786;
$blue2:#3AA1FF;
$blue:#3AA1FF;
$yellow:#FACE8A;
$red:#FF8786;
